---
import { getMonthName } from '../utils/utils.ts'
const { post } = Astro.props
---

<div class="post-preview">
  <div class="sm:w-20 md:w-32">
    <div class="post-preview__date">
      <span
        class="post-preview__date__day text-primaryDark dark:text-primarySecondary"
        >{new Date(post.date).getDate()}</span
      >
      <span
        class="post-preview__date__month-n-year text-primaryDark dark:text-primarySecondary"
        >{`${getMonthName(post.date)} ${new Date(
          post.date
        ).getFullYear()}`}</span
      >
    </div>
  </div>
  <div class="flex-1">
    <h4 class="post-preview__title text-primaryDark dark:text-primarySecondary">
      <a href={post.url} title={post.title}>{post.title}</a>
    </h4>
    <p class="post-preview__desc text-primaryDark dark:text-primarySecondary">
      {post.description}
    </p>
  </div>
</div>

<style>
  .post-preview {
    @apply flex gap-6;
  }
  .post-preview__date {
    @apply flex flex-col w-full text-center;
  }
  .post-preview__date__day {
    @apply text-6xl font-semibold;
  }

  .post-preview__title {
    @apply text-2xl font-semibold  hover:underline mb-2;
  }
  .post-preview__desc {
    @apply text-lg leading-6 line-clamp-2;
  }
</style>
